<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3>Create a new Listing</h3>
    <br />
    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title : </label>
        <input
          type="text"
          name="listing[title]"
          class="form-control"
          placeholder="Enter title ..."
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Enter a valid title!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description : </label>
        <textarea
          type="text"
          name="listing[description]"
          class="form-control"
          placeholder="Enter description ..."
          required
        ></textarea>
        <div class="invalid-feedback">
          Please write a short description about listing
        </div>
      </div>

      <div class="mb-3">
        <label for="image-url" class="form-label">Upload Image : </label>
        <input type="file" name="listing[image]" class="form-control" />
      </div>
      <div class="row">
        <div class="mb-3 col-4">
          <label for="price" class="form-label">Listing Price : </label>
          <input
            name="listing[price]"
            class="form-control"
            placeholder="Listing price ..."
            required
          />
          <div class="invalid-feedback">Please insert a valid price</div>
        </div>
        <div class="mb-3 col-8">
          <label for="country" class="form-label">Country : </label>
          <input
            type="text"
            name="listing[country]"
            class="form-control"
            placeholder="Enter country's name ..."
            required
          />
          <div class="invalid-feedback">Enter valid country name!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="category">Category :</label>
        <select class="form-select" name="listing[category]">
          <option selected>Select category</option>
          <option value="rooms">Rooms</option>
          <option value="iconic cities">Iconic cities</option>
          <option value="mountains">Mountains</option>
          <option value="beachfront">Beachfront</option>
          <option value="pools">Pools</option>
          <option value="castles">Castles</option>
          <option value="camping">Camping</option>
          <option value="farms">Farms</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location : </label>
        <input
          type="text"
          name="listing[location]"
          class="form-control"
          placeholder="Enter listing location ..."
          required
        />
        <div class="invalid-feedback">
          Please provide the listing's location
        </div>
      </div>

      <button class="btn btn-dark mb-3 add-btn">Add Listing</button>
      <br /><br />
    </form>
  </div>
</div>
